@import 'variables'
@import 'mixins'
*
    margin: 0
    padding: 0
    box-sizing: border-box
body 
    display: flex
    flex-direction: column
    align-items: center
    justify-content: space-around
    width: $allAvailableWidth
    height: $allAvailableHeight
    background-color: #26262E
    color: $accent
    font-family: 'Lobster', sans-serif
    font-size: 28px
    header
        font-size: 64px
        font-weight: 400
        text-align: $position
        letter-spacing: 5px
        @media (max-width: 800px) 
            font-size: 40px
        @media (max-width: 500px)
            font-size: 28px 
    main 
        @media (max-width: 800px) 
            width: 100vw
        .board 
            width: 55vw
            text-align: $position
            @media (min-width: 1430px)
                width: 40vw
            @media (max-width: 800px) 
                width: $allAvailableWidth
            .activeCard
                +cardsStyle
                border: $borderBrightColour
                cursor: default
                filter: brightness(100%)
                background-repeat: no-repeat
                background-size: contain
            .card 
                +cardsStyle
                border: $borderDarkColour
                cursor: pointer
                filter: brightness(70%)
                background-repeat: no-repeat
                background-size: contain
                &:hover 
                    border: $borderBrightColour
                    filter: brightness(100%)
.score 
    flex-basis: 100px
    margin-top: 5px
    letter-spacing: 2px
